<section class="section">
  <div class="container">
    <div class="field is-grouped is-justify-content-right">
      <p class="control">
      <!--%= link_to 'New Food', new_food_path, class: "button  is-save is-rounded is-align-content-end" %-->
          <%= link_to new_food_path do %>
              <button 
                class="button js-modal-trigger is-save is-rounded is-align-content-end" 
                data-target="modal-js-example">
                New Food
              </button>
          <% end %>  
      </p>
    </div>
    <div class="table-container">
      <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <thead class="thead">
        <tr>
          <th>Food</th>
          <th>Measurement Unit</th>
          <th>Unit Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Apple</td>
          <td>grams</td>
          <td>$5</td>
          <td>
            <%= link_to root_path do %>
              <button class="button is-danger is-outlined is-rounded is-responsive">
                <span><ion-icon name="trash"></ion-icon></span>
              </button>
            <% end %>            
          </td>
        </tr>
        <tr>
          <td>Apple</td>
          <td>grams</td>
          <td>$5</td>
          <td>
            <%= link_to root_path do %>
              <button class="button is-danger is-outlined is-rounded is-responsive">
                <span><ion-icon name="trash"></ion-icon></span>
              </button>
            <% end %>            
          </td>
        </tr>
        <tr>
          <td>Apple</td>
          <td>grams</td>
          <td>$5</td>
          <td>
            <%= link_to root_path do %>
              <button class="button is-danger is-outlined is-rounded is-responsive">
                <span><ion-icon name="trash"></ion-icon></span>
              </button>
            <% end %>            
          </td>
        </tr>
        <tr>
          <td>Apple</td>
          <td>grams</td>
          <td>$5</td>
          <td>
            <%= link_to root_path do %>
              <button class="button is-danger is-outlined is-rounded is-responsive">
                <span><ion-icon name="trash"></ion-icon></span>
              </button>
            <% end %>            
          </td>
        </tr>
        <tr>
          <td>Apple</td>
          <td>grams</td>
          <td>$5</td>
          <td>
            <%= link_to root_path do %>
              <button class="button is-danger is-outlined is-rounded is-responsive">
                <span><ion-icon name="trash"></ion-icon></span>
              </button>
            <% end %>            
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<%
=begin%>
 <p style="color: green"><%= notice %></p>

<h1>Foods</h1>

<div id="foods">
  <% @foods.each do |food| %>
    <%= render food %>
    <p>
      <%= link_to "Show this food", food %>
    </p>
  <% end %>
</div>

<%= link_to "New food", new_food_path %> 
<%
=end%>
