<%= form_with(@recipe_food, url: new_path(id: @recipe_id)), method: :post, local: true, scope: :new_recipe_food do |f| %>

    <%= f.error_notification %>
    <div class="field select is-info">
        <div class="control">
            <%= f.select :food, @foods, 
                label: "Food",
                input_html: { class: "select", autocomplete: "food" },
                required: true,
                wrapper: false,
                label_html: { class: "label" } %>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <%= f.input :qty,
                    label: "Quantity",
                    required: true,
                    input_html: { class: "input", autocomplete: "qty" },
                    wrapper: false,
                    label_html: { class: "label" } %>
        </div>
    </div>
    <div class="buttons">
        <%= f.button :submit, "Add Ingredient", class:"button is-save is-rounded is-normal" %>
        <%= link_to "Back to Recipe", :back, class: "button is-link is-light is-rounded is-normal" %>
    </div>
<% end %>

 <%
=begin%>
 <div class="d-flex w-100 align-items-center justify-content-center">
        
        <div class="form-group">
        <%= f.label :Quantity %><br>
        <%= f.number_field :quantity,class:"form-control" %>
        </div>

        <div class="form-group">
        
        <%= f.select :food, @foods %>
        </div>


        

        <%= f.submit "Add Recipe", class: "btn btn-success" %>
    <% end %>
</div>  
<%
=end%>